.link-canvas {
  path {
    stroke: white;
    stroke-width: 4;

    &:hover {
      stroke-width: 8;
      outline-color: black;
      outline-width: 2;
    }

    &.selected {
      stroke-width: 8;
    }

    &.active {
      stroke-width: 6;
      stroke: gold;
    }

    &.persist {
      stroke: #0a6ebd;
    }
  }
}
